@import url(reset.css);
@import url(global.css);

header {
    /* border: solid 1px #d1d1d1; */

    margin: 0 0 10px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    object-fit: contain;

}

header input {
    border: solid 1px #d1d1d1;
    border-radius: 30px 0 0 30px;

    height: 35px;
    width: 90%;
}

.menu-logo {
    display: flex;
    gap: 25px;
}

.search {
    /* border: solid 1px #d1d1d1;  */
    background-color: #d1d1d1;
    border-radius: 30px;

    height: auto;
    width: 500px;

    padding-right: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-right {
    display: flex;
    gap: 25px;
}

#foto {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.container,
.video,
.sidebar,
.bar {
    border: solid 1px #d1d1d1; 

    display: flex;
}

.container {

    width: 95%;
    margin: auto;

    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 30px;
}

.video {
    background-color: aqua;

    flex: 1 1 auto;

    flex-flow: column nowrap;
}

#video {
    background-color: brown;

    min-width: 540px;
    min-height: 540px;
}

.video h2 {
    font-size: 1.20rem;
}

.bar img {
    object-fit: contain;
}

.bar {
    gap: 40px;
    align-items: center;
}

.sidebar-video {
    background-color: aquamarine;

    height: 540px;

    flex: 1 1 15%;
}

.sidebar-text {
    background-color: aquamarine;

    flex-flow: column nowrap;
    flex: 1 1 15%;
    gap: 10px 0;
}